<div class="side-bar-header">
  <div class="header-name">
    <a href="#">tsukimidori</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <a href="#">kazamidori1</a>
  </div>
  <div class="room">
    <a href="#">kazamidori2</a>
  </div>
</div>